@backgroundColor: #b2cbe1;

@lightBackgroundColor: lighten( @backgroundColor, 10% );

@darkBackgroundColor: darken( @backgroundColor, 10% );

@textColor: #039;

table.dynamic-table{
	border: 2px solid @backgroundColor;
	font-size: 13px;
	font-weight: normal;
	color: @textColor;
	th, td{
		padding: 8px;
	}
	thead{
		input, select {
			background-color: @backgroundColor;
			color: @textColor;
		}
		tr.inputs{
			text-align: center;
			background: @lightBackgroundColor;
		}
		tr.columnHeaders{
			background: @darkBackgroundColor;
		}
	}
	tfoot{
		div.paging-information{
			float: left;
		}
		div.paging-buttons{
			float: right;
			a{
				background: @lightBackgroundColor;
				padding: 2px 4px;
				margin: 2px;
			}
			a:hover{
				background: @backgroundColor;
				cursor: pointer;
			}
		}
		tr{
			background: @darkBackgroundColor;
		}
	}
	tbody{
		tr{
			background: @lightBackgroundColor;
		}
	}
}

.left{
	float:left;
}

.right{
	float:right;
}

.clear{
	clear: both;
}
